<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <title>login | plaintext</title>
</head>
<body>
  <section class="register">
    <h1>login</h1>
    <form action="/login" method="post" class="register_form">
      <label for="name">username</label>
      <input type="text" class="input" name="username">
      <label for="password">password</label>
      <input type="password" class="input" name="password">

      <button type="submit" class="submit_button">login</button>
      <p>don't have an account? <a href="/register"><span class="underline">sign up</a></span></p>
    </form>
  </section>
</body>
</html>