<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
  <title>register | plaintext</title>
</head>
<body>
  <section class="register">
    <h1>register</h1>
    <form action="/register" method="post" class="register_form">
      <label for="name">your name</label>
      <input type="text" class="input" name="name" placeholder="ex: john doe" required>

      <label for="username">your user</label>
      <input type="text" class="input" name="username" placeholder="ex: jxhnd0e" required>

      <label for="password">your password</label>
      <input type="password" class="input" name="password" required>

      <label for="confirmPassword">confirm password</label>
      <input type="password" class="input" name="confirmPassword" required>
      
      <button>register</button>
      <p>already have an account? <a href="/login"><span class="underline">log in</span></p></a>
    </form>
  </section>
</body>
</html>