.register {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  background-color: var(--background);
}

.register h1 {
  font-size: 3rem;
}

.register_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register label {
  font-size: 1.2rem;
  align-self: flex-start;
}

.input {
  border: 1px solid gray;
  border-radius: 0.4rem;
  padding: 0.5rem;
  margin-bottom: 2rem;
  height: 3rem;
  width: 100%;
}

.input:focus {
  outline-color: gray;
}

.submit_button {
  border: none;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 8rem;
  cursor: pointer;
}